<div class="wrapper container-fluid">
	<div id="center-content" [style.paddingTop.px]="padding" class="center 
		col-lg-6 col-lg-offset-3 
		col-md-8 col-md-offset-2 
		col-xs-10 col-xs-offset-1
	">
		<div>
			<div class="text-center row hidden-md hidden-lg">
				<a routerLink="/work" class="link col-xs-12">Work</a>
				<a routerLink="/about" class="link col-xs-12">About me</a>
			</div>
			<div class="text-center row hidden-xs hidden-sm">
				<a routerLink="/work" class="link">Work</a>
				<a routerLink="/about" class="link">About</a>
			</div>
			<hr />
			<h1>
				Vojdan Gicharovski
				<div>Software <br class="visible-xs"><i class="fa fa-circle"></i><br class="visible-xs"> {{hobby}}</div>
			</h1>
			<hr />
			<div class="social text-center">
				<a href="https://www.facebook.com/vGicar"><i class="fa fa-facebook-official"></i></a>
				<a href="http://github.com/vgichar"><i class="fa fa-github"></i></a>
				<a href="https://bitbucket.org/vGichar/"><i class="fa fa-bitbucket"></i></a>
				<a href="mailto:vojdan.gicharovski@gmail.com"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
</div>